html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0 0 124px 0;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #dcebf7;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header, #hero {
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* header styles */
#header {
  margin: 0px;
  padding: 2rem 5.5rem 1.25rem 5.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url('./images/coasted-media-ivKvtooE4D0-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header a {
  text-decoration: none;
}

header h1 {
  color: #273469;
}

header button {
  margin: 0 1rem;
  padding: 2rem;
  border-radius: 9999px;
  border-color: #273469;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
  background-color: #273469;
  font-size: 1.15rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  transition: 0.4s;
  cursor: pointer; 
}

header button:hover {
  background-color: #B4D2E7;
  border-color: #B4D2E7;
  color: #273469;
}

header .login-btn {
  background-image: url('./images/user-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2.75rem;
  vertical-align: top;
  border-color: white;
  cursor: pointer;
}

header .login-btn:hover {
  background-image: url('./images/user-icon-hover.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding: 2.75rem;
  vertical-align: top;
  border-color: #B4D2E7;
}
/* end header styles */

/* hero styles */
#hero {
  margin: 0px;
  padding: 5rem;
  /* width: 100vw; */
  /* height: 75vh; */
  background-image: url('./images/coasted-media-ivKvtooE4D0-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
}

#hero.home {
  height: 75vh;
  padding: 11rem;
}

.hero-text h2, h3 {
  color: white;
}

.hero-text h2 {
  font-size: 4.5rem;
  line-height: 4rem;
}

.hero-text h3 {
  font-size: 3rem;
  line-height: 1rem;
}
/* end hero styles */

/* input and login form styles */
.form-header, 
.activity-form label, 
.login-header, 
.login-form label {
  color: #273469;
}

.form-header, 
.login-header {
  padding: 1.5rem 22rem 0 22rem;
  font-size: 3rem;
  text-align: center;
}

.activity-wrapper {
  padding-left: 22rem;
  padding-right: 22rem;
}

.login-wrapper {
  padding-left: 30rem;
  padding-right: 30rem;
}

.activity-form, 
.login-form {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.activity-form label,
.login-form label {
  margin: 1.15rem 0 1rem 0;
  font-size: 1.5rem;
}

.form-input {
  border: 2px solid #d1d9f0;
  display: block;
  padding: 0.75rem;
  font-size: 1.15rem;
  color: #273469;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.activity-form button,
.login-form button {
  margin: 2rem 0 5rem 0;
  padding: 1rem;
  width: 50%;
  border-radius: 9999px;
  background-color: #273469;
  border-color: #273469;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  transition: 0.4s;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
   cursor: pointer;
}

.activity-form button:hover,
.login-form button:hover {
  color: #273469;
  background-color: #B4D2E7;
  border-color: #B4D2E7;
}
/* end input and login form styles */

/* footer styles */
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: #273469;
  color: white;
}

footer div {
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
}

footer a {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

footer a:hover {
  color: #B4D2E7;
}
/* end footer styles */

/* media queries for smaller screen sizes */
@media screen and (max-width: 980px) {
  .hero-text h2 {
    line-height: 4.25rem;
    font-size: 4.15rem;
  }

  .hero-text h3 {
    line-height: 2rem;
    font-size: 3rem;
  }

  .activity-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .login-wrapper {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .form-header,
  .login-header {
    padding: 1.5rem 2rem 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  #header {
    justify-content: center;
  }

  .hero-text h2 {
    line-height: 4rem;
    font-size: 4rem;    
  }

  .hero-text h3{
    line-height: 3.15rem;
    font-size: 2.75rem;    
  }
}

@media screen and (max-width: 575px) {
  .hero-text h2 {
    font-size: 3.75rem;
    line-height: 4rem;
  }

  .hero-text h3{
    line-height: 2.75rem;
  }
}
/* end media queries */