:root {
    --primary-color: #273469;
    --secondary-color: #B4D2E7;
    --tertiary-color: #dcebf7;
    --quaternary-color: #d1d9f0;
    --light: white;
  }


.noActivities {
    height: 500px;
    border: 5px red solid;
    margin: 1rem;
    font-weight: bold;
    
}

h3{
    color: blue;
}

/* cards */
.card {
    margin: 10px 50px 20px 50px;
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--light);
    color: var(--dark);
  }
  .card-header{
      text-align: center;
  }

  .card-header a {
    color: var(--dark);
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--dark);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }

  /* .card-header a {
      text-decoration: none;
  } */
  
  .card-body {
    padding: 2.5%;
    font-size: 1.4rem;
  }